html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: white;
  }

  
  /* This controls the horizontal line. It shortens it and changes it to orange */
  hr {
      border: 5px solid orange;
      width: 20%;
      margin-left: 2.3%;
    }

  /* positions the imdb rating */
  .imdb-rating {
    position: relative;
    top: 50px; 
    left: 130px;

  }
  
  /* positions the youtube trailer */
  .youtube-trailer {
    position: relative;
    top: 30px; 
    left: 90px;
  }

  /* positions the booking button */
  .booking-btn {
    position: relative;
    top: 11px; 
    left: 300px;
  }